<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="autoload.php" forceCoversAnnotation="true">
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">classes/SQL</directory>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SQL\TestListener" file="tests/support/SQL/TestListener.php" />
	</listeners>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>tests/unit</directory>
		</testsuite>
		<testsuite name="Integration Tests">
			<directory>tests/integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
